body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.chessboard {
    text-align: center;
    background-color: #21087c;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.heading {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.box.white {
    background-color:white;
}

.box.black {
    background-color:black;
}

.box i {
    color: #5e6483;
}